:root {
  --gray: #d1d5db;
  --black: #242424;
  --white: #fff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--gray);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 1rem 2rem 2rem;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  width: 100%;
}
